/* -- ---- -- ---- -- ---- -- FONTS -- ---- -- ---- -- ---- -- */

@font-face {
  font-family: tiny;
  src: url("Assets/Fonts/TINY5x3-160.woff2");
}

@font-face {
  font-family: whyte;
  src: url("Assets/Fonts/Whyte\ Regular\ Italic.otf");
  font-weight: italic;
}

@font-face {
  font-family: whyte;
  src: url("Assets/Fonts/ABCWhyte-Regular.woff2");
  font-weight: normal;
}

@font-face {
  font-family: whyte;
  src: url("Assets/Fonts/Whyte\ Bold.otf");
  font-weight: bold;
}

/* -- ---- -- ---- -- ---- -- GENERAL -- ---- -- ---- -- ---- -- */

html,
body {
  margin: 0;
  padding: 0;
  overscroll-behavior-y: none;
  background-color: #3b3b3b;
}

.triggers {
  width: 100vw;
  height: 1px;
  display: none;
  background-color: rebeccapurple;
  position: absolute;
}

/* -- ---- -- ---- -- ---- -- NAVBAR -- ---- -- ---- -- ---- -- */

#navbar {
  height: 100vh;
  width: 3vw;
  position: fixed;
  background-color: #2aa948;
  left: -3vw;
}

#titolo {
  font-family: tiny;
  color: #cbc9c3;
  text-shadow: 3px 0 #3b3b3b, -3px 0 #3b3b3b, 0 3px #3b3b3b, 0 -3px #3b3b3b,
    1.5px 1.5px #3b3b3b, -1.5px -1.5px #3b3b3b, 1.5px -1.5px #3b3b3b,
    -1.5px 1.5px #3b3b3b;
  font-size: 3vw;
  position: absolute;
  transform-origin: top left;
  width: 40vh;
  rotate: 270deg;
  left: 0.45vw;
  height: 2vw;
  bottom: -2vh;
  text-decoration: none;
}

.bottoncini {
  font-family: whyte;
  position: absolute;
  font-weight: normal;
  color: #3b3b3b;
  font-size: 1.7vw;
  transform-origin: top left;
  left: 0.4vw;
  rotate: 270deg;
  text-decoration: none;
  transition-duration: 0.2s;
}

#intro {
  top: 18vw;
  transition-duration: 0.2s;
}

#intro:hover {
  color: #cbc9c3;
}

#about {
  top: 10vw;
  transition-duration: 0.2s;
}

#about:hover {
  color: #cbc9c3;
}

#switch {
  width: 2.6vw;
  height: 2.6vw;
  position: absolute;
  background-color: #cbc9c3;
  border-radius: 3vw;
  left: 0.2vw;
  top: 0.2vw;
  transition-duration: 0.2s;
}

#switch:hover {
  background-color: #3b3b3b;
}

/* -- ---- -- ---- -- ---- -- SCROLLITELLING -- ---- -- ---- -- ---- -- */

#container {
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
  height: 100vh;
  width: 100vw;
  left: 0vw;
}

.pages {
  background-color: #3b3b3b;
}

.content {
  height: 100vh;
}

/* -- ---- -- ---- -- ---- -- LANDING PAGE -- ---- -- ---- -- ---- -- */

#firstpage {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#titolone {
  font-family: tiny;
  color: #ffffff;
  text-shadow: 0.5vw 0 #2aa948, -0.5vw 0 #2aa948, 0 0.5vw #2aa948,
    0 -0.5vw #2aa948, 0.25vw 0.25vw #2aa948, -0.25vw -0.25vw #2aa948,
    0.25vw -0.25vw #2aa948, -0.25vw 0.25vw #2aa948;
  font-size: 20vw;
  line-height: 12vw;
  text-align: center;
}

canvas {
  z-index: 1000;
}

/* -- ---- -- ---- -- ---- -- SCROLLITELLING -- ---- -- ---- -- ---- -- */

#tshowbar {
  top: 0vh;
  height: 100vh;
}
